:root{
    --primary-color: #01796F;
    --secondary-color:#C0DFD3;
    --text-color:#333;
    --grand-total-color:red;
    --border-color: #ccc;
    --panel-background: white;
}
html, body{
    margin: 0;
    height: 100%;
    background:rgb(222, 247, 241) ;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12pt;
    background:var(--secondary-color);
    color: var(--text-color);
}
:focus{
    outline: none;
}
section{
    height: 100%;
    padding: 50px 0;
    display: flex;
    justify-content: center;
}
section .panel{
    min-height: 400px;
    width: 800px;
    background: var(--panel-background);
    padding: 30px;
    border-radius: 10px;
    flex-direction: column;
}
section .panel h1{
    text-align: center;
    border-bottom: 3px solid rgb(32, 241, 154);
    padding-bottom: 10px;
}
section .panel button{
    border: none;
    width: 150px;
    height: 40px;
    color: #000;
    border-radius: 4px;
    background: rgb(84, 245, 207);
    margin: 10px;
}
section .panel table  {
    border-collapse: collapse;
    text-align: center;
}
section .panel table thead{
    background: var(--secondary-color);
    color: var(--primary-color);
}
section .panel table tr{
   height: 40px;
}
section .panel .summary{
    margin-top: 10px;
    border-top: 3px dashed var(--border-color);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
section .panel .summary .subtotalsummary{
    width: 300px;
    margin: 5px 0;

    display: flex;
    justify-content: space-between;
}
section .panel .summary .grandtotalsummary{
    color: var(--grand-total-color);
    border-top: 3px solid;
    padding-top: 5px;
    font-size: 14pt;
}